<div class="mt-4" style="overflow: hidden;">
    <div class="row">
        <div class="col-lg-3" style="text-align: center;">
            <button>Hoc Ngay</button>
            <p style="margin-top: 8px;">Tempora luctus ratione harum tempore hic, exercitationem facere dignissimos explicabo posuere duis cursus laborum earum quod, perspiciatis nisl! Cubilia id luctus. Tellus tristique pretium id lacinia exercitationem iaculis, dolores ut, iste gravida potenti. Consequuntur dui. Fugit, doloremque quas! Suscipit, irure veniam illo, cupidatat mollit! Iure nesciunt vivamus tenetur in? Excepturi lacinia tenetur. Rhoncus sodales! Nemo ante numquam egestas sociis quos pellentesque torquent? Inceptos, quibusdam, vitae turpis integer ex quos! Mi, laboriosam cumque eligendi? Perspiciatis facilisi class quia quas distinctio orci temporibus nam est egestas? Mollitia aute! Voluptate ante vivamus eleifend diam mollitia, molestie adipisicing proin cras, ullam fusce fermentum! Qui.</p>
        </div>
        <div class="col-lg-9" >
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>