h1 {
  color: #333; }

.card-text-edit {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box; }

.card-title-edit {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box; }

.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%; }

.form-select-action {
  width: 160px;
  margin: 0 16px; }
